* { text-shadow: 2px 2px black; }
#pagediv { padding: 20px; }
.panel-primary
{
background-color: hsla(0,0%, 19%, 0.5);
}
.panel-primary > .panel-heading
{
background-color: hsla(211, 40%, 36%, 0.5);
}

.playerName
{
display: block; float:left;
width: 200px;
}

.playerDuration
{
display: block;
float: left;
width: 150px;
}

ul.playerList li { clear: both; }